
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#barraTopo {
    color: #903eff;
    background-color: #b57aef;
    border-bottom: 2px solid #903eff;
    height: 80px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    
}

#chat {
    background-image: url("../images/background.png");
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

#chat h6{
    padding: 10px;
    border-bottom:1px solid #903eff;
    color: #6800a5;
    text-align: center;
    margin: 0px 0px 5px 0px;


}

#chat p{
    padding: 10px;
    color: #000000;
    text-align: left;
    background-color: #6800a536;
    border:1px solid #bd00d69d;
    border-radius: 8px;
    margin: 10px 0;
}


#userInputs {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #903eef;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#userInputs input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
}

#userInputs input#usuario {
    margin-right: 10px;
    width: 30px;
}

#userInputs input#mensagem {
    flex: 5;
}

#userInputs button {
    padding: 10px 20px;
    background-color: #b6b6b6;
    color: #000000;
    border: 1px solid #444444;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}